.outer-container-settings {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("https://cdn.pixabay.com/photo/2012/12/29/21/11/sunrise-73074_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

.outer-container-settings::before {
  content: "";
  background-image: url("https://cdn.pixabay.com/photo/2012/12/29/21/11/sunrise-73074_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  margin: -10px;
  z-index: -1;
}

.content-container {
  position: relative;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  max-width: 60rem;
  border-radius: 30px;
  padding: 3%;
  margin-top: auto;
  margin-bottom: auto;
  /* padding-top: 1%;
  padding-bottom: 1%; */
}

/* .item-list {
  background-color: transparent;
} */

/* .item-list:hover {
  color: black;
  background-color: transparent;
} */

h3 {
  padding-top: 0;
}

.cancel-save-button {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.password-button {
  margin: 0.5rem auto;
  display: block;
}

.button-photo {
  margin: 0.5rem;
}

.btn-primary {
  border-color: none;
}

.user-image {
  border-radius: 100% !important;
  border: 10px solid #0096be;
  width: 11rem !important;
  height: 11rem !important;
  /* height: 13rem; */
    align-self: right;
/*   padding: 1rem; */

/* border-image-source: linear-gradient(to left, #0096be, #005b97); */
filter: drop-shadow(0 0 0.15rem #005b97);

  /* border-image-source: linear-gradient(to left, #0096be, #005b97); */
  filter: drop-shadow(0 0 0.15rem #005b97);
}

.centerImage {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

hr {
  border-top: 1px solid blue;
}

.proPhotoSettings {
  width: 11.25rem;
  height: 11.25rem;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid #0096be;
  filter: drop-shadow(0 0 0.5rem #a8a8a86b);
}

.proPhotoSettings img{

  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto; 
}