.contact-field-buttons {
  /*   background: rgb(0, 91, 151); */
  background: linear-gradient(
    0deg,
    rgba(0, 150, 190, 1) 40%,
    rgb(235, 239, 240) 20%,
    rgba(0, 150, 190, 1) 40%
  );
}

.contact-field-buttons:hover {
  background-color: #005b97;
}

.badge.badge-success {
  background-color: #005b97;
}

.badge.badge-secondary {
  background-color: #bbbbbb;
}
.user-id {
  margin-bottom: 0;
}

.user-role {
  margin-left: 1rem;
}

.komunikators-list {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.profile-cropper {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #0096be;
  filter: drop-shadow(0 0 0.5rem #a8a8a82a);
}
