.outer-container-user-home {
  padding: 0;
}

.logged-in-container {
  padding-top: 10%;
  padding-bottom: 10%;
}
.header-image {
  height: 50rem;
  width: fit-content;
  object-fit: cover;
}

.article-img-column {
  padding: 1rem 0 !important;
}

.article-body-column {
  border: none !important;
}

.padding-article {
  padding: 1rem 0 !important;
}

.table-column {
  padding-left: 3rem;
}

.fullWidthImage {
  padding-right: 0px;
  padding-left: 0px;
}

.proPhotoLogged {
  width: 11.25rem;
  height: 11.25rem;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid #0096be;
  filter: drop-shadow(0 0 0.5rem #5050506b);
}

.proPhotoLogged img{

  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto; 
}

/* .proPhotos {
  width: 100%;
  height: 100%;

} */

.nameSpacer {
  margin-top: .5em;
  margin-bottom: -.025em
}

.profileCircleShift {
  margin-left: .5rem;
}