body {
  margin: 0;
  padding: 0;
}

center {
  margin: auto;
  justify-content: center;
}

.stickyNav {
  position: sticky;
  top: 100;
}

.genericBar {
  display: flex;
  justify-content: center;
  height: 5em;
  width: 150em; 
}

.someTopPadding {
  margin-top: 3rem;
}

.dropShadowNav {
  filter: drop-shadow(0 -3mm 4mm #000000);
}