body {
  margin: 0;
  padding: 0;
}

center {
  margin: auto;
  justify-content: center;
}

.header-image {
  height: 50rem;
  width: fit-content;
  object-fit: cover;

}

.our-mission-container {
  padding-bottom: 6%;
}

.bannerShift {
  margin-top: -50px;
}

.fullWidthImage {
  padding-right: 0px;
  padding-left: 0px;
}