.ArtFull {
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 180px;
    line-height: 1.5;
    width: 75%;
    padding: 8px;
}

.RelDate{
    text-align: left;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 40px;
}
.ArtHead {
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.ArtSub {
    text-align: center;
    font-family: Quicksand;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 60px;
}

.ArtPara {
    text-align: justify;
    font-family: Roboto slap;
    font-size: 23px;
    font-weight: 400;  
  
}

.ArtSec {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    /* margin-left: 200px;
    margin-right: 200px; */
}

.SubHead {
    text-align: center;
    font-family: Quicksand;
    font-size: 23px;
    font-weight: 500; 
    margin: 40px;
}

.ArtImg {
    /* display: flex;
    justify-content: space-around; */
    float: left;
    margin: 40px;
    margin-left: -20px; 
    max-height: 300px; 
    box-shadow: 13px 5px 5px slategray;
    border-radius: 3px;
}

.ArtImgT {
    float: right; 
    max-width: 300px;
    padding: 0 0 20px 20px;
    /* display: flex; 
    justify-content: right; 
    align-content: flex-end;  */
 /* align-content: right;
    margin: 40px;
    margin-left: -20px;
    max-height: 300px;
    box-shadow: 13px 5px 5px slategray;
*/
} 
.ArtCreat {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    margin-top: -40px;
    margin-bottom: 80px;
}

/* Start off scroll css */

.scrollPlacement {


}

.scrollTop {
    margin-left: 900px;
    position: fixed; 
    width: 100%;
    bottom: 100px;
    align-items: flex-start;
    height: 20px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 1s;
/*     animation: fadeOut 1s; */
    transition: opacity 0.4s;
    opacity: 0.5;
  }
  
  .scrollTop:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: .5;
    }
  }
