@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.color_lightblue {
  color: #0096be;
}

.dropShadowLightBlue {
  filter: drop-shadow(10px 10px 3rem #0096be);
}

.color_lightblue_hr {
  background-color: #0096be;
  border: top;
}

.color_darkblue {
  color: #005b97;
}

.color_white {
  color: #ffffff;
}

.color_whiteBG {
  background-color: #ffffff75 ;
}

.color_lightblueBG {
  background-color: #0095beb7 ;
}

.color_lightblueBox {
    background-color: #0095bee0 ;
    border-radius : 10px;
  }

.color_darkblueBox {
    background-color: #005b97 ;
  }

.color_darkgradBox {
    background-color: #005b97 ;
    background-color: linear-gradient(0deg, rgba(0,91,151,1) 0%, rgba(0,150,190,1) 70%);   
}

.color_whiteGrad {
  background: rgb(0,150,190);
  background: -moz-linear-gradient(0deg, rgba(0,150,190,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,150,190,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(0deg, rgba(0,150,190,0) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0096be",endColorstr="#ffffff",GradientType=1); 
  
}

.color_brandgradient {
  background: rgb(0, 91, 151);
  background: linear-gradient(
    0deg,
    rgba(0, 91, 151, 1) 0%,
    rgba(0, 150, 190, 1) 70%
  );
}

/* ///////////////////////////////////////////////////// */
/* Main Headlines, Titles & h1 tags */
.mainHeaderFonts {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

/* Sub headers & Secondary Titles */
.subHeadlineFonts {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

/* Quotes & Pull quotes for highlighted text */
.quoteFonts {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

/* Main Body copy like <p> tags */
.mainBodyFont {
  font-family: "Roboto Slab", serif;
}

/* Input Fields */
.formFonts {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-style: italic;
}

/* Buttons */
.buttonFonts {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-style: bold;
}

.titleShift {
    margin-right: -500px;
    margin-left: 1200px;
}

.leftAlign {
  margin-left: 1em;
  text-align: left;
}

.fontWithHR {
  width: 50%;
}

.justifyText {
  text-align: justify;
  text-justify: inter-word;
}