/* nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: white;
} */

/* Smoothly scrolls down a page when doing anchor */
html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');


.App {
  text-align: center;
}

.footer-snap {
  position: fixed;
  left:0;
  bottom:0;
  right:0;
}

.footer-bottom {
  padding-bottom:60px;
}